@charset "UTF-8";

.shape {
  margin: 0 auto;
  position: relative;
  padding: 0 100px;
  height: 1vh;
}

.random-shape:after {
  font-family: FontAwesome;
  content: "\f005";
}

@keyframes shape-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(48deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(408deg);
  }
}

.shape-container--1 {
  animation: shape-1 45s linear infinite;
}

.shape-container--1 .random-shape:after {
  margin: 5rem;
  color: #230c93;
  font-size: 1rem;
  content: "";
}

@keyframes shape-2 {
  0% {
    transform: translate3d(0, 0, 0) rotate(50deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(410deg);
  }
}

.shape-container--2 {
  animation: shape-2 46s linear infinite;
}

.shape-container--2 .random-shape:after {
  margin: 9rem;
  color: #95a9ff;
  font-size: 1.8rem;
  content: "";
}

@keyframes shape-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(259deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(619deg);
  }
}

.shape-container--3 {
  animation: shape-3 50s linear infinite;
}

.shape-container--3 .random-shape:after {
  margin: 7rem;
  color: #fff8dc;
  font-size: 1.4rem;
  content: "";
}

@keyframes shape-4 {
  0% {
    transform: translate3d(0, 0, 0) rotate(187deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(547deg);
  }
}

.shape-container--4 {
  animation: shape-4 42s linear infinite;
}

.shape-container--4 .random-shape:after {
  margin: 2rem;
  color: #817f8e;
  font-size: 0.4rem;
  content: "";
}

@keyframes shape-5 {
  0% {
    transform: translate3d(0, 0, 0) rotate(323deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(683deg);
  }
}

.shape-container--5 {
  animation: shape-5 47s linear infinite;
}

.shape-container--5 .random-shape:after {
  margin: 1rem;
  color: #95a9ff;
  font-size: 0.2rem;
  content: "";
}

@keyframes shape-6 {
  0% {
    transform: translate3d(0, 0, 0) rotate(285deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(645deg);
  }
}

.shape-container--6 {
  animation: shape-6 41s linear infinite;
}

.shape-container--6 .random-shape:after {
  margin: 3rem;
  color: #817f8e;
  font-size: 0.6rem;
  content: "";
}

@keyframes shape-7 {
  0% {
    transform: translate3d(0, 0, 0) rotate(235deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(595deg);
  }
}

.shape-container--7 {
  animation: shape-7 44s linear infinite;
}

.shape-container--7 .random-shape:after {
  margin: 7rem;
  color: #230c93;
  font-size: 1.4rem;
  content: "";
}

@keyframes shape-8 {
  0% {
    transform: translate3d(0, 0, 0) rotate(154deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(514deg);
  }
}

.shape-container--8 {
  animation: shape-8 44s linear infinite;
}

.shape-container--8 .random-shape:after {
  margin: 8rem;
  color: #230c93;
  font-size: 1.6rem;
  content: "";
}

@keyframes shape-9 {
  0% {
    transform: translate3d(0, 0, 0) rotate(170deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(530deg);
  }
}

.shape-container--9 {
  animation: shape-9 42s linear infinite;
}

.shape-container--9 .random-shape:after {
  margin: 1rem;
  color: #ffd700;
  font-size: 0.2rem;
  content: "";
}

@keyframes shape-10 {
  0% {
    transform: translate3d(0, 0, 0) rotate(295deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(655deg);
  }
}

.shape-container--10 {
  animation: shape-10 49s linear infinite;
}

.shape-container--10 .random-shape:after {
  margin: 3rem;
  color: #95a9ff;
  font-size: 0.6rem;
  content: "";
}

@keyframes shape-11 {
  0% {
    transform: translate3d(0, 0, 0) rotate(57deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(417deg);
  }
}

.shape-container--11 {
  animation: shape-11 46s linear infinite;
}

.shape-container--11 .random-shape:after {
  margin: 6rem;
  color: #817f8e;
  font-size: 1.2rem;
  content: "";
}

@keyframes shape-12 {
  0% {
    transform: translate3d(0, 0, 0) rotate(182deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(542deg);
  }
}

.shape-container--12 {
  animation: shape-12 43s linear infinite;
}

.shape-container--12 .random-shape:after {
  margin: 6rem;
  color: #d4201b;
  font-size: 1.2rem;
  content: "";
}

@keyframes shape-13 {
  0% {
    transform: translate3d(0, 0, 0) rotate(20deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(380deg);
  }
}

.shape-container--13 {
  animation: shape-13 45s linear infinite;
}

.shape-container--13 .random-shape:after {
  margin: 2rem;
  color: #95a9ff;
  font-size: 0.4rem;
  content: "";
}

@keyframes shape-14 {
  0% {
    transform: translate3d(0, 0, 0) rotate(24deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(384deg);
  }
}

.shape-container--14 {
  animation: shape-14 50s linear infinite;
}

.shape-container--14 .random-shape:after {
  margin: 2rem;
  color: #95a9ff;
  font-size: 0.4rem;
  content: "";
}

@keyframes shape-15 {
  0% {
    transform: translate3d(0, 0, 0) rotate(55deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(415deg);
  }
}

.shape-container--15 {
  animation: shape-15 41s linear infinite;
}

.shape-container--15 .random-shape:after {
  margin: 4rem;
  color: #230c93;
  font-size: 0.8rem;
  content: "";
}

@keyframes shape-16 {
  0% {
    transform: translate3d(0, 0, 0) rotate(20deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(380deg);
  }
}

.shape-container--16 {
  animation: shape-16 48s linear infinite;
}

.shape-container--16 .random-shape:after {
  margin: 8rem;
  color: #95a9ff;
  font-size: 1.6rem;
  content: "";
}

@keyframes shape-17 {
  0% {
    transform: translate3d(0, 0, 0) rotate(72deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(432deg);
  }
}

.shape-container--17 {
  animation: shape-17 42s linear infinite;
}

.shape-container--17 .random-shape:after {
  margin: 10rem;
  color: #230c93;
  font-size: 2rem;
  content: "";
}

@keyframes shape-18 {
  0% {
    transform: translate3d(0, 0, 0) rotate(164deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(524deg);
  }
}

.shape-container--18 {
  animation: shape-18 42s linear infinite;
}

.shape-container--18 .random-shape:after {
  margin: 4rem;
  color: #230c93;
  font-size: 0.8rem;
  content: "";
}

@keyframes shape-19 {
  0% {
    transform: translate3d(0, 0, 0) rotate(298deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(658deg);
  }
}

.shape-container--19 {
  animation: shape-19 50s linear infinite;
}

.shape-container--19 .random-shape:after {
  margin: 2rem;
  color: #230c93;
  font-size: 0.4rem;
  content: "";
}

@keyframes shape-20 {
  0% {
    transform: translate3d(0, 0, 0) rotate(344deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(704deg);
  }
}

.shape-container--20 {
  animation: shape-20 41s linear infinite;
}

.shape-container--20 .random-shape:after {
  margin: 4rem;
  color: #ffd700;
  font-size: 0.8rem;
  content: "";
}

@keyframes shape-21 {
  0% {
    transform: translate3d(0, 0, 0) rotate(132deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(492deg);
  }
}

.shape-container--21 {
  animation: shape-21 41s linear infinite;
}

.shape-container--21 .random-shape:after {
  margin: 4rem;
  color: #fff8dc;
  font-size: 0.8rem;
  content: "";
}

@keyframes shape-22 {
  0% {
    transform: translate3d(0, 0, 0) rotate(58deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(418deg);
  }
}

.shape-container--22 {
  animation: shape-22 47s linear infinite;
}

.shape-container--22 .random-shape:after {
  margin: 1rem;
  color: #ffd700;
  font-size: 0.2rem;
  content: "";
}

@keyframes shape-23 {
  0% {
    transform: translate3d(0, 0, 0) rotate(298deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(658deg);
  }
}

.shape-container--23 {
  animation: shape-23 41s linear infinite;
}

.shape-container--23 .random-shape:after {
  margin: 3rem;
  color: #d4201b;
  font-size: 0.6rem;
  content: "";
}

@keyframes shape-24 {
  0% {
    transform: translate3d(0, 0, 0) rotate(86deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(446deg);
  }
}

.shape-container--24 {
  animation: shape-24 43s linear infinite;
}

.shape-container--24 .random-shape:after {
  margin: 3rem;
  color: #230c93;
  font-size: 0.6rem;
  content: "";
}

@keyframes shape-25 {
  0% {
    transform: translate3d(0, 0, 0) rotate(348deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(708deg);
  }
}

.shape-container--25 {
  animation: shape-25 44s linear infinite;
}

.shape-container--25 .random-shape:after {
  margin: 8rem;
  color: #817f8e;
  font-size: 1.6rem;
  content: "";
}

@keyframes shape-26 {
  0% {
    transform: translate3d(0, 0, 0) rotate(208deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(568deg);
  }
}

.shape-container--26 {
  animation: shape-26 42s linear infinite;
}

.shape-container--26 .random-shape:after {
  margin: 2rem;
  color: #fff8dc;
  font-size: 0.4rem;
  content: "";
}

@keyframes shape-27 {
  0% {
    transform: translate3d(0, 0, 0) rotate(73deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(433deg);
  }
}

.shape-container--27 {
  animation: shape-27 47s linear infinite;
}

.shape-container--27 .random-shape:after {
  margin: 3rem;
  color: #95a9ff;
  font-size: 0.6rem;
  content: "";
}

.stop-shape {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
